<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"> 
                <h1 class="center"><span class="heading-highlight">संपर्क</span> करें 
                </h1>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h3>
                            हमारे बारे में</h3>
                    <p>
                        सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है | कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |</p>
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                            <h3>पता</h3>
                            <p>तुळशी मंदिर ट्रस्ट
                                <br>पंजीकृत कार्यालय- आर-20, 
                                <br>ग्रेटर कैलाश पार्ट-एक, 
                                <br>नई दिल्ली-110048
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div>
                           <h3>सामाजिक</h3>
                            <div class="social-net">

                                <ul>
                                    <li><a href="https://www.facebook.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_facebook"></use>
                                                </svg>
                                            </i>
                                            <span>फेसबुक</span>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_instagram"></use>
                                                </svg>
                                            </i>
                                            <span>ट्वीटर</span>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com" target="_blank">
                                            <i class="icon icon-ex-small">
                                                <svg focusable="false">
                                                    <use xlink:href="#icon_twitter"></use>
                                                </svg>
                                            </i>
                                            <span>इंस्टाग्राम</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6 col-md-6 col-sm-12">
                <form>
                    <div class="row form-group">
                        <div class="col">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Your Mail" name="yourMail">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
            </div> -->
        </div>
    </div>
</section>
<section class="copyright center">
    <div class="col-sm-12"> 
        <p>ALL RIGHT RESERVED @ TULSHI MANDIR TRUST</p>
      </div>
</section>