<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1><span class="heading-highlight">तुळशी </span>मंदिर ट्रस्ट </h1>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/tulshi-logo.png">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <h6>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                    <br><br>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                </h6>

                    <button type="submit" class="btn btn-warning">दान कारे</button>
            </div>
        </div>
    </div>
</section>

<section class="video-gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <h1>सहयोग करे</h1>
                <p>
                    
सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है | कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं 
                </p>
                <button type="submit" class="btn btn-warning">दान कारे</button> 
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/bE_MwaDJXqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
        </div>
    </div>
</section>


<section class="section-about social-work">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1><span class="heading-highlight">सामाजिक</span> कार्य </h1>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/social-work-1.jpg">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <h4>शीर्षक</h4>
                <h6>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                </h6>
            </div>
        </div>

        <div class="row">
           <div class="col-lg-9 col-md-9 col-sm-12">
                <h4>शीर्षक</h4>
                <h6>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                </h6>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/social-work-1.jpg">
            </div>
        </div>


        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/social-work-1.jpg">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                 <h4>शीर्षक</h4>
                 <h6>
                     सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                     जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                     मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                     सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                     कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                 </h6>
             </div>
 
            
         </div>

         <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                 <h4>शीर्षक</h4>
                 <h6>
                     सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                     जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                     मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                     सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                     कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                 </h6>
             </div>
 
             <div class="col-lg-3 col-md-3 col-sm-12">
                 <img src="assets/images/social-work-1.jpg">
             </div>
         </div>

    </div>
</section>